@font-face {
  src: url('font/NanumBrushScript-Regular.ttf');
  font-family: 'ad';
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
#box {
  position: relative;
  backdrop-filter: blur(10px);
  color: #e2e2e2;
  font-family: 'ad';
  height: 80vh;
  width: 900px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px;
  padding-bottom: 5px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

input {
  color: white;
  box-shadow: 0px 0px 10px white;
}
input::placeholder {
  color: #e2e2e2;
}
#clock {
  font-size: 30px;
}
.clock-box {
  margin-left: 20px;

  position: relative;
}
.login-box {
  height: 600px;
  align-items: center;
  justify-content: center;
}
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-form input {
  width: 450px;
  height: 50px;
  border-radius: 30px;
  padding-left: 10px;
  outline: none;
}
#login-form button {
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  color: white;
  box-shadow: 0px 0px 10px white;
  color: #e2e2e2;
  margin-top: 50px;
  height: 40px;
  width: 70px;
  border-radius: 30px;
}
#greeting {
  display: flex;
  justify-content: center;

  font-size: 45px;
}
#todo-form {
  justify-content: center;
  width: border;
}
#todo-form input {
  width: 400px;
  height: 30px;
  border-radius: 100px;
  outline: none;
  padding-left: 12px;
  margin-bottom: 20px;
}
.todo-list-box {
  height: 450px;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.todo-list-box::-webkit-scrollbar {
  width: 10px;
}
.todo-list-box::-webkit-scrollbar-thumb {
  background-color: #f3f3f3;
  border-radius: 10px;
}
.todo-list-box::-webkit-scrollbar-track {
  box-shadow: 0px 0px 10px white;
  border-radius: 100px;
}
.todo-list-box li {
  box-shadow: 0px 0px 10px white;
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 23px;

  align-items: center;
  border-radius: 100px;
}
.todo-list-box li span {
  margin-right: 10px;
}
.todo-list-box button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#weather {
  font-size: 20px;
  position: absolute;
  bottom: -20px;
}
#quote-box {
  position: absolute;
  bottom: 23px;
  right: 150px;
  width: 600px;
  height: 40px;
}
#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#quote span:first-child {
  font-size: 25px;
}
#quote span:last-child {
  font-size: 18px;
}
